[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blockRAR"]
	path = blockRAR
	url = https://github.com/thevaachandereng/blockrar
